<div class="login-container">
  <div class="login-box">
    <h2>Instakilogram</h2>
    <div name="login-success" *ngIf="loginSuccess">Login Success. Redirecting...</div>
    <form (ngSubmit)="verifyUser()">
      <div>
        <input
          type="text"
          placeholder="Username"
          [(ngModel)]="username"
          name="username-input"
          required
          [class.error]="loginError"
        />
        <div class="error-message" *ngIf="loginError">
          {{ loginError }}
        </div>
      </div>
      <div>
        <input
          type="password"
          placeholder="Password"
          [(ngModel)]="password"
          name="password-input"
          required
          [class.error]="loginError"
        />
        <div class="error-message" *ngIf="loginError">
          {{ loginError }}
        </div>
      </div>
      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Logging in...' : 'Log In' }}
      </button>
    </form>
  </div>
</div>