<div class="main-content">
    <router-outlet />
    <div class="disclaimer">
        <div class="disclaimer-content">
            <i class="disclaimer-icon">ⓘ</i>
            <p>This website is developed exclusively for educational purposes within our Cyber Security Course curriculum. No personal data is collected, processed, or stored. We strictly prohibit and do not endorse any unauthorized or malicious activities against any individuals, organizations, or their digital assets.</p>
        </div>
    </div>
</div>