<div class="main-content">
    <router-outlet />
    <div class="disclaimer">
        <div class="disclaimer-content">
            <i class="disclaimer-icon">ⓘ</i>
            <p>This website is developed exclusively for educational purposes within our Cyber Security Course curriculum. No personal data is collected, processed, or stored. We strictly prohibit and do not endorse any unauthorized or malicious activities against any individuals, organizations, or their digital assets.</p>
            <p>The code for this site is completely open-sourced, and can be viewed in this Github Repository: https://github.com/justKMM/wi-project-login-mask.git</p>
        </div>
    </div>
</div>